body {
            margin: 0;
            padding: 0;
            background-color: #0a0135;
            font-family: 'Courier New', monospace;
            color: #00ff9d;
        }
        .terminal {
            max-width: 900px;
            
            margin: 20px auto;
            background-color: #000;
            border: 2px solid #333;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(89, 0, 255, 0.288);
        }
        h1 {
            font-size: 1.5em;
            color: #4226c2;
            margin-bottom: 10px;
        }
        .command-form {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        input {
            flex: 1;
            background: none;
            border: none;
            color: #0400ff;
            font-family: 'Courier New', monospace;
            font-size: 1em;
            padding: 5px;
            outline: none;
        }
        input::placeholder {
            color: #001380;
        }
        button {
            display: none;
        }
        .output {
            background-color: #111;
            padding: 10px;
            border: 1px solid #333;
            min-height: 200px;
            white-space: pre-wrap;
            font-size: 0.9em;
            overflow-y: auto;
            max-height: 400px;
            scrollbar-width: none;
        }
        .error {
            color: #ff4040;
        }
        .info {
            font-size: 0.8em;
            color: #000280;
            margin-bottom: 10px;
        }
        .prompt {
            color: #2303af;
        }